 <!-- 投稿頁 -->
{% extends "base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block resourcefiles %}
<link rel="stylesheet" href="{% static "css/facewall.css" %}">
{% endblock %}

{% block content %}
<section class="green_back">
		<div class="container">
			<div class="row section_title">
				<h3>
					{{ title }}
				</h3>
			</div>
		</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 section_content">
				<pre class="agree_report">
			本籌備團隊BEPCI(以下簡稱本團隊)，因2015年參與第13屆ATCC全國大專院校商業競賽，需蒐集立書人個人資料，並依據本同意書之各項內容進行使用。為了保障您的權益及幫助您瞭解本會如何蒐集、使用及保護您個人資訊，請務必詳細的閱讀本同意書之各項內容。 

			一、立書人個人資料適用範圍：
			本團隊為聯繫及辦理下列事項需求，必須取得您的個人資料，基於個人資料保護法及相
			關法令之規定，蒐集、處理及使用您的個人資料。
			(一)將您拍攝的影片放於粉絲專頁及Youtube上，但不會將之作為商業用途。
			(二)將您拍攝的影片放於桃園國際機場候機室中，但不會將之作為商業用途。

			二、立書人個人資料之蒐集及使用：
			(一)依前項所述之事項，需要提供以下個人資料：姓名、聯絡方式及其他可以直接或間接方式識別該個人之資料。
			(二)您可自由選擇是否提供本會您的個人資料，若您所提供之個人資料不完整時，本團    
			   隊可能無法提供您完善的服務。
			(三)該資料僅在法令許可的範圍之下於服務契約有效期間及經立書人同意之期間，以電子檔或紙本形式存於本會，提供予本會及因以上目的作業需要之第三方處理及使用。
			(四)本團隊依個人資料保護法第8 條第2 項規定，有下列情事者在蒐集及使用您的個人
			資料時，得免為告知。
			1. 依法律規定得免告知。
			2. 個人資料之蒐集係公務機關執行法定職務或非公務機關履行法定義務所必要。
			3. 告知將妨害公務機關執行法定職務。
			4. 告知將妨害第三人之重大利益。
			5. 當事人明知應告知之內容。

			三、個人資料使用期間
			當您同意本團隊使用您的個人資料時，期間自您同意當日起至：
			(一)本會依前條第3 項之事由停止提供您相關資訊之日。
			(二)您請求本會停止使用您的個人資料之日。
			(三)依第1 條所述之目的不復存在之日。
			(四)其他依法須保存之期限止。
			四、立書人之權益
			當本團隊使用您的個人資料，您可依據個人資料保護法第3 條，向本會執行下列權益：
			(一)查詢或請求閱覽。
			(二)請求製給複製本。
			(三)請求補充或更正。
			(四)請求停止蒐集、處理及利用。
			(五)請求刪除。

			當本會保有您的個人資料時，基於我國「個人資料保護法」之規定。您可以透過E-MAIL或書面行使當事人權益，除基於符合「個人資料保護法」與其他相關法律規定外，本團隊不會拒絕。


			本人已確實詳閱上述之同意書內容，並且同意提供個人之資料以供 使用。
				</pre>
			</div>
		</div>
		<div class="row section_content">
		<div class="col-md-4">

		</div>
			<div class="col-md-4">
				<!-- image enctype -->
				<form method="POST" action="{% url 'facewall_add' %}" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form|crispy }}
					<input class="btn btn-success signup_btn" type="submit" value="投稿完成"/>
				</form> 
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</section>
{% endblock %}