<!-- 快問快答牆 -->
{% extends "base.html" %}
{% load staticfiles %}

{% block resourcefiles %}

<!--
<link rel="stylesheet" href="{% static "css/transitions.css" %}">
<script type="text/javascript" src="{% static "collagePlus/jquery.collagePlus.min.js" %}"></script>
<script type="text/javascript" src="{% static "collagePlus/jquery.collageCaption.min.js" %}"></script>
<script type="text/javascript" src="{% static "collagePlus/jquery.removeWhitespace.min.js" %}"></script>
-->
<script type="text/javascript" src="{% static "Nested/jquery.nested.js" %}"></script>
<script type="text/javascript" src="{% static "Nested/makeboxes.js" %}"></script>

<script type="text/javascript" src="{% static "masonry/masonry.pkgd.min.js" %}"></script>

<script type="text/javascript" src="{% static "js/fastquestion.js" %}"></script>
<link rel="stylesheet" href="{% static "css/fastquestion.css" %}">
<!-- Free wall -->
<!-- <script type="text/javascript" src="{% static "freewall/freewall.js" %}"></script> -->
{% endblock %}

{% block content %}
	<section>
		<div class="container">
			<div class="row">
				<div class="wall_section_title">
					<h3>
						百人百臉 - 快問快答
					</h3>
				</div>
			</div>
		</div>
	</section>
	<!-- 內容：活動介紹-->
	<section>
		<div id="container-fluid" >
			<div class="row">
				<div class="grid">
                        <div class="">
                            {% for online_data in online_ques_list %}
                                <img src="{% static online_data.face_image.url %}" class="open-popup-link grid-item grid-sizer" alt="...">
                            {% endfor %} 
                        </div>
                </div>
			</div>
		</div>
	
	  
	</section>	
{% endblock %}