/* 每一個區塊的標題簡述 */
.ques_section_title {
	margin-top: 100px;
	text-align: center;
	margin-bottom: 50px;
}
/*
	因為給予寬度，所以置中需要以 margin auto設定
*/
.ques_section_title h3{
	padding-bottom: 10px;
	/*width: 300px;*/
	margin-left: auto;
	margin-right: auto;
	color: #000;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 32px;
}
.ques_section_title p {
	padding-top: 5px;
	font-size: 16px;
}


.form_section {
	margin-left: auto;
	margin-right: auto;
}

.signup_btn {
	background-color:rgb(132, 191, 65);
	border:1px solid rgb(132, 191, 65);
}


/* 活動規則的內容 */
/* 位置調整 */
.ques_section_content {
	margin-top: 70px;
	margin-bottom: 30px
}
.ques_section_content h3 {
	font-size: 18px;
}
.ques_section_content p {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}

.small_bound {
	padding-left: 150px;
	padding-right: 150px;
}

.ques_section_content img{
	width: 150px;
	height: 150px;
}


