/* 每一個區塊的標題簡述 */
.wall_section_title {
	margin-top: 100px;
	text-align: center;
	margin-bottom: 50px;
}
/*
	因為給予寬度，所以置中需要以 margin auto設定
*/
.wall_section_title h3{
	padding-bottom: 10px;
	/*width: 300px;*/
	margin-left: auto;
	margin-right: auto;
	color: #000;
	font-family: "微軟正黑體",Arial,sans-serif;
	font-weight: bold;
	font-size: 32px;
}
.wall_section_title p {
	padding-top: 5px;
	font-size: 16px;
}

.Collage img {
	margin: 0; 
}

/*body {	background-color:#e1e1e1;
				color:#fff;
				font-family: Arial, sans-serif;
				font-size:11px;
				line-height: 14px;
				padding:0px;
				margin:0px;	
				}
*/

/* ====================================================== */
/* Nested */
.box { 	background-color:#ff4499;
				-moz-border-radius:3px;
  		  -khtml-border-radius: 3px;
				-webkit-border-radius:3px;
				border-radius:3px;

 
-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
    -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
        
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
                 
}
			
#container { 
	overflow: hidden;
}`

.size21, .size22, .size23, .twocols { background: #ccc }
.size31, .size32, .size33, .threecols { background: #ff9999 }

a.btn {
  margin-right: 1px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  width: 75px;
  color: red;
}
/* ====================================================== */
/* masonry */

#grid img {
	opacity:0.7;
}

.grid-sizer,
.grid-item { width: 10%; }

/* ================================================ */
/* 百人百臉牆的區塊（限制高度）*/

.facewall_block {
	/* 30張圖片 */
	height: 300px;
	display:block;
	position: relative;
	overflow: hidden;
}

.facewall_title {
	position: relative;
	top: 100px;
}
.facewall_title h3{
	font-size: 32px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	/* 陰影，使文字可以呈現 */
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

/* ================================================ */
/* 分個百人百臉牆 與 瀑布流 */
.face_video_section {
	margin-top: 30px;
}


/* 瀑布流的 Masonry */
.grid-sizer-water,
.grid-item-water {
	width: 18%;
	margin: 10px;
	padding: 10px;
	border: 1px solid #e0e0e0;
 	border-radius: 2px;
}
.grid-item-water img {
	width: 100%;
}
.grid-item-water p {
	margin-top: 10px;
}

/* ============================================ */

.facewall_content a{
	color: #000;
	font-size: 14px;
	text-align: left;
}
.facewall_content a:hover{
	text-decoration: none;
	/*background-color: #FFB238;*/
	color: #000;
}

.facewall_content a:visited{
	/*background-color: #FFB238;*/
	color: #000;
}

/* ==================================================== */
/* RWD 當手機模式時，調整Marsony sizer的尺寸 */
/* 動態調整RWD，語法要放在最下面，才不會被覆蓋 */
@media only screen and (max-width: 480px) {
  /* 5 columns for larger screens */
  	/*.grid-sizer { width: 20%; }*/
  	.grid-item { width: 20%; }

  	.facewall_title h3{
		font-size: 24px;
		text-align: center;
		color: #FFF;
		font-weight: bold;
		/* 陰影，使文字可以呈現 */
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	}
  	/* 瀑布流 */
  	.grid-item-water {
		width: 45%;
		margin: 5px;
		padding: 10px;
		border: 1px solid #e0e0e0;
	 	border-radius: 2px;
	}
	.grid-item-water img {
		width: 100%;
	}
}

