/* 每一個區塊的標題簡述 */
.team_section_info {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
}
/*
	因為給予寬度，所以置中需要以 margin auto設定
*/
.team_section_info h3{
	padding-bottom: 10px;
	/*width: 300px;*/
	margin-left: auto;
	margin-right: auto;
	color: #000;
	font-family: "微軟正黑體",Arial,sans-serif;
	font-weight: bold;
	font-size: 32px;
}
.team_section_info p {
	padding-top: 5px;
	font-size: 16px;
}

.small_bound {
	padding-left: 150px;
	padding-right: 150px;
}
/* team介紹 位置調整 */
.team_section {
	margin-top: 70px;
	margin-bottom: 30px
}
.team_section img{
	width: 250px;
	height: 250px;
}
/* 右邊的文字內容 */
.team_content {
	padding-top: 50px;
}
