{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Oops!此網頁不存在唷</title>
	

	<!-- bootstrap -->
	<!-- theme must first , then will be 3 theme-->
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	
	<link rel="stylesheet" href="{% static "css/error.css" %}">
</head>
<body>
	<article>
		<section>
			<div class="container">
				<div class='row error_section_title'>
					<h1>
						<span class="red_color">O</span><span class="blue_color">o</span><span class="yellow_color">p</span><span class="green_color">s</span> :(
					</h1>
					<h3>HTTP 404 此網頁不存在唷</h3>
					<h3>點選這裡返回</h3> 
					<a class="btn btn-info" href="{% url 'home' %}">首頁</a>
				</div>
			</div>
		</section>
	</article>

	<script  src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script  src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>