<!-- 活動介紹頁 -->
{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
	<!-- 標題：活動介紹-->
	<section class="red_back">
		<div class="container">
			<div class="row section_title">
				<h3>
					活動介紹
				</h3>
			</div>
		</div>
	</section>
	<!-- 內容：活動介紹-->
	<section>
		<div class="container">
			<div class="row section_content content_left">
				<p>
					現在的社會太過紛亂吵雜，生活中總是充斥著不同的臉孔，每個臉孔背後都象徵不同的故事，然而這些想法真的被聽見了嗎？這些背後的故事能被真實紀錄下來嗎？我們期待透過「Y 世代的一百種生活態度」網站記錄專屬台灣的生活百態以及其中蘊藏的充沛情感
				</p>
				<p>
					昇恆昌一直致力於打造最有台灣味的機場環境，每個人背後的酸甜苦辣就成了最好的素材。因此我們想為昇恆昌打造一個全新人文的品牌定位，也就是「台灣故事的紀錄者」，將最特別也最寫實的台灣故事傳至機場的每個角落。為使消費者真正感受昇恆昌的人文價值，我們希望能讓 Y 世代以他們的故事打造專屬候機室，進而強化昇恆昌與年輕人間的連結。

				</p>
			</div>

		</div>
	</section>
	
	<!-- 標題：活動流程-->
	<section class="blue_back">
		<div class="container">
			<div class="row section_title">
				<h3>
					活動流程
				</h3>
		</div>
	</section>
	<!-- 內容：活動流程-->
	<section>
		<div class="container">
			<div class="row section_content content_center">
				<p><span style="color:red;">*</span>投稿影片會需經過審核，通過審核才會顯示。</p>
				<div class="col-md-3">
					<h3>步驟一</h3>
					<p>收看Y世代的一百種態度示範影片。</p>
					<img class="flow1_section" src="{% static "images/flow1.jpg" %}"/>
				</div>
				<div class="col-md-3">
					<h3>步驟二</h3>
					<p>選出一題你最有感觸的題目，用30秒到1分鐘說明你的想法。</p>
					<img class="flow2_section" src="{% static "images/flow2.jpg" %}"/>
				</div>
				<div class="col-md-3">
					<h3>步驟三</h3>
					<p>填寫活動表單，將心得以及影片連結放入其中，即有機會抽中亞洲之旅機票。</p>
					<img class="flow3_section" src="{% static "images/flow3.jpg" %}"/>
				</div>
				<div class="col-md-3">
					<h3>步驟四</h3>
					<p>主辦單位將選出優質的故事將之放入Y世代的100種生活態度候機室中。</p>
					<img class="flow4_section" src="{% static "images/flow4.jpg" %}"/>
				</div>
			</div>
		</div>
	</section>
	
	<section class="yellow_back">
		<div class="container">
			<div class="row section_title">
				<h3>
					示範影片
				</h3>
			</div>
		</div>
	</section>
	<section >
		<div class="container">
			<div class="row section_content">
				<div class="col-md-4">
					<div class="videowrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/eWW8e-9c1Us" frameborder="0" allowfullscreen></iframe>
						</div>
				</div>
				<div class="col-md-4">
					<div class="videowrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/B9K8zQ7qCS8" frameborder="0" allowfullscreen></iframe>
						</div>
				</div>
				<div class="col-md-4">
					<div class="videowrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/hzaaWB0uZgY" frameborder="0" allowfullscreen></iframe>
						</div>
				</div>
			</div>
			<div class="row section_content">
				<div class="col-md-4">
					<div class="videowrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/GsWlINwBVf4" frameborder="0" allowfullscreen></iframe>
						</div>
				</div>
				<div class="col-md-4">
					<div class="videowrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/LhOJOE0E3GU" frameborder="0" allowfullscreen></iframe>
						</div>
				</div>
				<div class="col-md-4">
					<div class="videowrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/yAbWXrAXt3w" frameborder="0" allowfullscreen></iframe>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!-- 投稿按鈕 -->
	<section class="blue_back">
		<div class="container">
			<div class="row section_title">
				<div class="link_btn">
                    <a href="{% url 'facewall_index' %}">
                        <h3>來分享你的故事吧！</h3>
                    </a>
        		</div>	
			</div>
		</div>
	</section>
{% endblock %}