<!-- 首頁 -->
{% extends "base.html" %}
{% load staticfiles %}


{% block resourcefiles %}
<!-- my website team_intro -->
<link rel="stylesheet" href="{% static "css/team_intro.css" %}">	
{% endblock %}

{% block banner%}
{% endblock %}

{% block content %}
	<section>
		<div class="container">
			<div class="row team_section_info small_bound">
				<h3>Bepci 團隊介紹</h3>
				<p>「共創時代下的跨領域合作，有限時空裡的不設限冒險」 </p>
				<p>BEPCI- I Can Pursue Everything Boldly. </p>
				<p class="small_bound">來自商管、英文、政治、資工和設計等不同背景的我們，共同組成了 BEPCI這個團隊， BEPCI取自於我們所就讀科系之英文字母，當它結合在一起時碰撞出全新的火花。 </p>
				<p>「挑戰自己，不斷成長 
					散播熱情，創造連結 
					大膽創新，勇於突破 
					熱愛分享，成為改變 
					跳脫框架， 尋求契機」 
				</p>	
				<p>	
					BEPCI的出現是為了勇敢追求每一個可能
				</p>
				<p>
					“ BEPCI, flipped to change, change to complete.” 
				</p>
			</div>
			<div class="row">
				<!-- 高-->
				<div class="team_section">
					<div class="col-md-4 col-md-offset-2">
						<img src="{% static "images/team_picture/cynthia.png" %}">
					</div>
					<div class="col-md-6 team_content small_bound">
						<h3>【品牌行銷/ 隊長 高佳筠】</h3>
						<p>「洞悉消費者insight， 利用有限預算打造最耀眼的行銷企劃。」 </p>
						<p>
						關鍵能力: 
						活動策畫及企劃撰寫，洞悉趨勢的觀察力搭配超強執行力。 </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="team_section">
					<div class="col-md-4 col-md-offset-2">
						<img src="{% static "images/team_picture/yun.png" %}">
					</div>
					<div class="col-md-6 team_content small_bound">
						<h3>【美學設計/ 陳昀成】</h3>
						<p>「用簡單的線條勾勒出人生百態，將想像躍然於紙上，以有限創造無限。」 </p>
						<p>關鍵能力: 美學設計、整體視覺形象打造 綿延不絕的創造力 </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="team_section">
					<div class="col-md-4 col-md-offset-2">
						<img src="{% static "images/team_picture/fu.png" %}">
					</div>
					<div class="col-md-6 team_content small_bound">
						<h3>【邏輯策略/ 傅暄】</h3>
						<p>「擅長剖析問題間的愛恨糾葛，擔任企劃執行的最後一道防線。」</p>
						<p>關鍵能力: 縝密的思考能力，分析及評估專案的可行性 </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="team_section">
					<div class="col-md-4 col-md-offset-2">
						<img src="{% static "images/team_picture/lina.png" %}">
					</div>
					<div class="col-md-6 team_content small_bound">
						<h3>【專案優化/ 潘元琪】</h3>
						<p>「掌握說故事的能力，在行文中將理性與感性完美融合，賦予品牌獨特價值，將感動深植人心。」 </p>
						<p>關鍵能力：文案撰寫及採訪報導能力，高專案執行能力</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="team_section">
					<div class="col-md-4 col-md-offset-2">
						<img src="{% static "images/team_picture/eason.png" %}">
					</div>
					<div class="col-md-6 team_content small_bound">
						<h3>【網站程式/ 郭奕成】</h3>
						<p>「能用coding解決的事，都不是問題，理性實務派，輕鬆打造，譜出完美0與1的世界。」</p>
						<p>關鍵能力:把想法化為真實的軟體建構能力，從行動裝置，網站架設到應用程式一手包辦</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}