<!-- 快問快答牆 -->
{% extends "base.html" %}
{% load staticfiles %}

{% block resourcefiles %}

<!--
<link rel="stylesheet" href="{% static "css/transitions.css" %}">
<script type="text/javascript" src="{% static "collagePlus/jquery.collagePlus.min.js" %}"></script>
<script type="text/javascript" src="{% static "collagePlus/jquery.collageCaption.min.js" %}"></script>
<script type="text/javascript" src="{% static "collagePlus/jquery.removeWhitespace.min.js" %}"></script>
-->
<script type="text/javascript" src="{% static "Nested/jquery.nested.js" %}"></script>
<script type="text/javascript" src="{% static "Nested/makeboxes.js" %}"></script>



<script type="text/javascript" src="{% static "js/imagesloaded.pkgd.js" %}"></script> 
<script type="text/javascript" src="{% static "masonry/masonry.pkgd.min.js" %}"></script>

<script type="text/javascript" src="{% static "infinite-scroll/jquery.infinitescroll.js" %}"></script>
<!-- Ajax infinite scroll -->

<script type="text/javascript" src="{% static "js/jquery-ias.min.js" %}"></script>

<link rel="stylesheet" href="{% static "css/fastquestion.css" %}">
<script type="text/javascript" src="{% static "js/fastquestion.js" %}"></script>



<!-- Free wall -->
<!-- <script type="text/javascript" src="{% static "freewall/freewall.js" %}"></script> -->
{% endblock %}

{% block content %}
	<!-- <section>
		<div class="container">
			<div class="row">
				<div class="wall_section_title">
					<h3>
						百人百臉 - 快問快答
					</h3>
				</div>
			</div>
		</div>
	</section> -->
	<!-- 內容：活動介紹-->
	<section>
		<div id="container-fluid" >
			<div class="row">
				<div class="facewall_block">
					<div id="grid">
                        {% for online_data in online_facewall %}
                        	<!-- online_data.face_image.url -->
                        	
                            	<img src="{% static online_data.face_image.url %}" class="open-popup-link grid-item grid-sizer" alt="...">
                           
                        {% endfor %} 

                        <div class="facewall_title">
			                <h3>百人百臉，擺出你的生活態度</h3>
			            </div>
                    </div>
                </div>	
			</div>
		</div>
	</section>	
	<section>
		 <div class="container face_video_section">
		 <!--
	        	<div class="row">
	        		<div class="col-md-12">
						<ul class="nav nav-tabs">
							<li>
								 <li role="presentation"><a href="#">快問快答</a></li>
							</li>
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							投稿問題 <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">

								</ul>
							</li>

						</ul>
					</div>
				</div>
				-->
				<div class="row">
        			<div id="grid-water">
		        		{% for online_data in online_ques_list %}
	                	<!-- online_data.face_image.url -->
	                		<div class="grid-sizer-water grid-item-water facewall_content">
	                			<!-- Modal 影片 -->
	                			<a data-toggle="modal" data-target="#face_modal" id="face_video_{{online_data.pk}}">
	                        		<img src="{% static online_data.face_image.url %}" class="open-popup-link" >
	                        		
	                        		<p>
	                        			{% if online_data.content %}
	                        				{{ online_data.content }}
	                        			{% endif %}
	                        		</p>
	                        		
	                        		<!-- facebook like ? -->
	                    		</a>
	                   		</div>	                           		
	                	{% endfor %} 
                	</div>
	        	</div>
	        	<nav class="pagination">
  					<a class="next" href="{% url 'fastquestion_page' page_id %}"></a>
				</nav>
		</div>
	</section>

	<!-- <a href="#face_modal_{{ online_data.pk }}"></a> -->
	<!-- Modal 點擊圖片顯示影片 -->
    <div class="modal fade" id="face_modal" tabindex="-1" role="dialog" aria-labelledby="face_modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="face_modalLabel"></h4>
                </div>
                <div class="modal-body">
                        <!-- 內容 -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}